  <%if user_signed_in?%>
    <h1>Bienvenu</h1>
    <h2>Veuillez completer votre profil:</h2>
    <%else%>
    <% redirect_to "/users/sign_in" %>
    <%end%>

  <%if current_user.role?%>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :last_name, placeholder: "Jean" %>
        <%= f.input :first_name, placeholder: "Lassale" %>
        <%= f.input :birthday, placeholder: "date de naissance" %>
        <%= f.input :gender, as: :radio_buttons, collection: User.genders, item_wrapper_tag: false, boolean_style: :inline%>
        <!-- ici c'est en radio button car on ne peut choisir qu'une homme ou femme -->
        <%= f.input :website, placeholder: "site internet" %>
        <%= f.input :phone_number, placeholder: "Numero de telephone" %>
        <%= f.input :avaibility, as: :radio_buttons, collection: User.avaibilities, item_wrapper_tag: false, boolean_style: :inline%>
        <!-- ici c'est en radio button car on ne peut choisir qu'un attribut -->
        <%= f.input :description, placeholder: "racontez votre bio" %>
        <%= f.input :address, placeholder: "address" %>
        <%= f.input :zip_code, placeholder: "code postal" %>
        <%= f.input :city, placeholder: "city" %>

        <%= f.input :photos, as: :attachinary %>
        <%= f.input :videos, as: :attachinary %>

        <%= f.input :voice_attribute, as: :radio_buttons, collection: User.voice_attributes, item_wrapper_tag: false, boolean_style: :inline%>
        <!-- ici c'est en radio button car on ne peut choisir qu'un attribut -->
        <%= f.input :voices, as: :attachinary %>

        <%= f.submit "save", class: "btn btn-primary" %>
      <%end%>
  <%else%>
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :last_name, placeholder: "Jean" %>
        <%= f.input :first_name, placeholder: "Lassale" %>
        <%= f.input :birthday, placeholder: "date de naissance" %>
        <%= f.input :gender, as: :radio_buttons, collection: User.genders, item_wrapper_tag: false, boolean_style: :inline%>
        <%= f.input :phone_number, placeholder: "Numero de telephone" %>
         <%= f.input :description, placeholder: "racontez votre bio" %>
        <%= f.input :address, placeholder: "address" %>
        <%= f.input :zip_code, placeholder: "code postal" %>
        <%= f.input :city, placeholder: "city" %>
      <%end%>
  <%end%>




