

<div class= "container-edit">
  <%if user_signed_in?%>
    <h1>Bienvenue</h1>
    <h2>Veuillez compléter votre profil :</h2>
  <%else%>
    <% redirect_to "/users/sign_in" %>
  <%end%>


  <%if current_user.actor? %>

      <%= simple_form_for(@user) do |f| %>
        <%= f.input :last_name, placeholder: "Jean" %>
        <%= f.input :first_name, placeholder: "Lassale" %>
        <%= f.input :birthday, placeholder: "Date de naissance" %>
        <%= f.input :gender, as: :select, collection: User.genders.keys%>
        <!-- ici c'est en radio button car on ne peut choisir qu'une homme ou femme -->
        <%= f.input :website, placeholder: "Site internet" %>
        <%= f.input :phone_number, placeholder: "Numéro de téléphone" %>
        <%= f.input :avaibility , as: :radio_buttons, :collection => [['oui', false], ['Pas en ce moment', false]]%>
        <!-- ici c'est en radio button car on ne peut choisir qu'un attribut -->
        <%= f.input :description, placeholder: "Racontez votre histoire" %>
        <%= f.input :address, placeholder: "Adresse" %>
        <%= f.input :zip_code, placeholder: "Code postal" %>
        <%= f.input :city, placeholder: "Marseille" %>

        <%= f.input :photos, as: :attachinary %>
        <%= f.input :videos, as: :attachinary %>


        <%= f.input :voice_attribute, as: :select, collection: User.voice_attributes.keys, item_wrapper_tag: false, boolean_style: :inline%>
        <!-- ici c'est en radio button car on ne peut choisir qu'un attribut -->
        <%= f.input :voices, as: :attachinary %>

        <%= f.submit "Save", class: "btn btn-danger" %>
      <%end%>
  <%else%>
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :last_name, placeholder: "Jean" %>
        <%= f.input :first_name, placeholder: "Lassale" %>
        <%= f.input :birthday, placeholder: "Date de naissance" %>
        <%= f.input :gender, as: :select, collection: User.genders, item_wrapper_tag: false, boolean_style: :inline%>
        <%= f.input :phone_number, placeholder: "Numéro de téléphone" %>
         <%= f.input :description, placeholder: "Racontez votre histoire" %>
        <%= f.input :address, placeholder: "Adresse" %>
        <%= f.input :zip_code, placeholder: "Code postal" %>
        <%= f.input :city, placeholder: "Marseille" %>
        <%= f.submit "Save", class: "btn btn-danger" %>
      <%end%>
  <%end%>
</div>

