<%if current_user.DA?%>
  <h1 class="text-center">Tous les acteurs</h1>
    <div class="container">
      <div class="row">
        <% @users.actor.each do |user| %>
        <div class="col-xs-12 col-sm-4">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-index text-center">
                        <div class="photo-index"><%if user.photos?%>
                          <%=cl_image_tag user.photos.first.path, :width=>75, :height=>75, :gravity=>"face", :radius=>"max", :effect=>"sharpen", :crop=>"thumb"%>
                        <%else%>
                          <div class="card-header" style="background-image: url('http://www.clubpoker.net/forum-poker/uploads/1292350273/gallery_44176_461_45151.png')">
                          </div>
                        <%end%>
                        </div>
                          <div class="text">
                           <span><%=user.first_name%> <%=user.last_name%></span> - <span class="text-voice">Voix: <%=user.voice_attribute%></span>
                          </div>
                </div>
            </div>
             <div class="back text-center">
                  <p><%=link_to "Voir cet acteur", user_path(user) %></p>
             </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
 <%else%>
 <div class="banner-wrapper" style="background-image: url('<%= image_url "wrong-way.jpg" %>')" >
  <h5 class="police-error wrong-way">Vous devez être directeur artistique pour accéder à cette page !</h5><br>
  </div>

  </div>

</div>


<%end%>





