<div class="row text-center">
  <div class="col-md-3 col-offset-6">
    <% if @user.actor? %>
      <% if current_user.DA? and !current_user.projects.empty?%>
        <%= simple_form_for @booking do |f| %>
          <%= f.input :project_id, as: :select, collection: current_user.projects, include_blank: false%>
          <%= f.input :user_id, as: :hidden, :input_html => { :value => @user.id } %>
          <%= f.submit "Booker cet acteur !", class: "btn btn-danger", :url => bookings_path%>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="profile">
  <h1 class="h1-profil" >
    <%=@user.first_name%> <%=@user.last_name%>
  </h1>
  <div class="infoHolder">

    <h2 class="h2-profil">
      <% if @user.actor? %>
      Je suis comedien !
      <% else %>
      Je suis DA !
      <%end%>
      <br>
      Type de voix : <%=@user.voice_attribute%>
      <br>
      <% if @user.avaibility %>
      je suis disponible !
      <% else %>
      indisponible en ce moment !
      <% end %>
    </h2>
    <p class="lighter p-profil">
      <%=@user.gender.capitalize%>
    </p>
    <p class="lighter p-profil">
      <%=@user.phone_number%> / <%=@user.email%>
    </p>
    <p class="lighter p-profil">
      <%=@user.address%>,
      <%=@user.zip_code%>,
      <%=@user.city%>
    </p>
    <p>
      <%=@user.description%>
    </p>
  </div>
  <% unless @user.photos.empty? %>
  <div class="imageHolder profilePic">
    <%= cl_image_tag @user.photos.first.path, :width=>450 %>
  </div>
  <% end %>


<div class="display">

  <% if current_user.id == params[:id].to_i %>
  <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-danger" %>
  <% else %>
  <% end %>
  <br>
  <br>
  <br>



  <div class="title-gallery">Mes photos </div>
  <br>

  <% @user.photos.each do |pho| %>
  <div class="gallery" >
    <div>
      <%=cl_image_tag pho.path %>
    </div>
  </div>

  <% end %>

  <div>
      <% @user.voices.each do |voi| %>
        <%=cl_video_tag(voi.path) %>
      <%end%>
  </div>

  <% @user.videos.each do |vid| %>
  <%= cl_video_tag(vid.path, :width=>176, :crop => :scale, :preload => "none",
  :controls => true, :fallback_content => "Your browser does not support HTML5 video tags") %>
  <% end %>
</div>
